<div>
    <nav uib-dropdown>
        <a class="btn btn-block btn-default" uib-dropdown-toggle role="button">
            {{breadcrumb[0].Name || "Category Select"}}  <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu col-xs-6" uib-dropdown-menu prevent-click>
            <li class="dropdown-header" ng-repeat="category in categoryList.Items| filter:{ParentID: null}">
                <nav>
                    <a
                       uib-dropdown uib-dropdown-toggle role="button">
                        {{category.Name}} <i class="fa fa-angle-down" ng-if="category.ChildCount"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="category in categoryList.Items| filter:{ParentID: ''}">
                            {{category.Name}}
                        </li>
                    </ul>
                </nav>
            </li>
        </ul>
    </nav>
</div>

<!--ui-sref="productBrowse.products({categoryid: category.ID})"-->
