<div>
    <nav uib-dropdown>
        <a class="btn btn-block btn-default" uib-dropdown-toggle role="button">
            {{breadcrumb[0].Name || "Category Select"}}  <i class="fa fa-angle-down"></i>
        </a>
        <ul class="nav nav-stacked col-xs-8 col-sm-4" id="accordion1" uib-dropdown-menu>
            <li class="panel" ng-repeat="category in categoryList.Items | filter:{ParentID: null}">
                <a ng-click="categoryDropdown.categoryTreeClick(this)"
                   data-toggle="collapse"
                   data-parent="#accordion1"
                   prevent-click
                   >
                    {{category.Name}} <i class="fa fa-angle-down" ng-if="category.ChildCount"></i></a>
                <ul id="{{category.ID}}" ng-class="{'collapse': this[(this.category.ID)]}">
                    <li ng-repeat="subcategory in categoryList.Items| filter:{ParentID: category.ID}">
                        <a ui-sref="productBrowse.products({categoryid: subcategory.ID})">{{subcategory.Name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<!--ADD class="collapse" to <ul> to hide subcategories-->
